<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="script/vendor/bootstrap/css/bootstrap.css">
    <!-- <link rel="stylesheet" type="text/css" href="script/vendor/bootstrap/css/bootstrap-theme.css"> -->
    <link rel="stylesheet" type="text/css" href="script/vendor/bootflat/css/bootflat.min.css">
    <link rel="stylesheet" type="text/css" href="script/vendor/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="script/vendor/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="script/vendor/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="script/vendor/jqueryui/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="script/vendor/jscookie/js.cookie.js"></script>
    <script type="text/javascript" src="script/lp-main.js"></script>
    <script type="text/javascript" src="script/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="script/vendor/pixi/pixi.min.js"></script>
    <!-- use grunt-->
    <!-- use precomplied bootstrap 3-->
    <!-- use precomplied jquery-->
    <script type="text/javascript">
        var S={};       //global namespace
        S.sensor = {};  //should change to a more precise name
        S.devices = [];
        S.values = [];  //for BLE raw data
        S.zeros = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];  //for user to set zero of S.values (Hard code 20 params)
        S.measurments = [];  //for construct all measurments from json

        //handle mutli language
        S.current_lang_code = Cookies.get('lang');
        if(Cookies.get('lang')==null){
            S.current_lang_code =0;
        }
        $.get( "storage/i18n.json",function(data){
            S.i18n = data;
            $(document).ready(function(){
                $(".i18n").each(function() {
                    $(this).html($(this).data("i18n").split('.').reduce((o,i)=>o[i], S.i18n)[S.current_lang_code]); //0:en, 1:tc, 2:sc
                });
            });
        },'json' );


       
    </script>
</head>

<body>
    <div id="log"></div>
    {{body}}
</body>


</html>
