
<section id="experiment-list" class="container-full">
        <div class="app">
            <div class="container">
            	<div class="icon-wrapper">
                	<img class="app-icon" src="images/app_icon.png"/>
                	<h3 class="title">Lab in Your Pocket</h3>
                	<div class="clearfix"></div>
            	</div>
            	<hr>
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
					<button id="go_ble_standard" class="hidden btn btn-block btn-success">BLE Standard</button>
					<button id="go_universal" class="hidden btn btn-block btn-success">Universal Reader</button>
					<button id="go_environment" class="hidden btn btn-block btn-success">Environmental Experiment</button>
					<button id="go_gas_law" class="btn btn-block btn-success"> Gas Law</button>
					<button id="go_em" class="btn btn-block btn-success">Magnetic Field with Current Flow</button>
	            </div>
	            <hr>
	            <div class="well">
	            	<p>V1.0.0 Powered by:</p>
	            	<p>Department of Applied Physics</p>
	            	<p>Hong Kong Polytechnic University</p>
	            </div>
            </div>
        </div>

</section>

<script type="text/javascript">
	
	$(document).ready(function(){
		$("#go_ble_standard").click(function(){
			$.get( "storage/ble_standard.json",function(data){
				window.localStorage.setItem("config", JSON.stringify(data));
				window.location = "lp-experiment-details.html";
			},'json' );
		});
		$("#go_universal").click(function(){
			$.get( "storage/universal.json",function(data){
				window.localStorage.setItem("config", JSON.stringify(data));
				window.location = "lp-experiment-details.html";
			},'json' );
		});
		$("#go_environment").click(function(){
			$.get( "storage/environment.json",function(data){
				window.localStorage.setItem("config", JSON.stringify(data));
				window.location = "lp-experiment-details.html";
			},'json' );
		});
		$("#go_gas_law").click(function(){
			$.get( "storage/gas_law.json",function(data){
				window.localStorage.setItem("config", JSON.stringify(data));
				window.location = "lp-experiment-details.html";
			},'json' );
		});
		$("#go_em").click(function(){
			$.get( "storage/em.json",function(data){
				window.localStorage.setItem("config", JSON.stringify(data));
				window.location = "lp-experiment-details.html";
			},'json' );
		});
	});
</script>